
.collapseBtnsBox {
    display: flex;
    justify-content: center;
}

.collapseBtns {
    display: flex;  
    flex-direction: column;  
    width: 78%;
  gap: 20px;

}

.collapseContent {
    
}

@media only screen and (max-width: 425px) {

    .collapseBtns {
        display: flex;  
        flex-direction: column;  
        align-items: normal;
        gap: 0px;
        width: 90%;
    }

}