@import './settings.scss' ;
@import './Header.scss' ;
@import './Banner.scss' ;
@import './Housings.scss' ;
@import './Footer.scss' ;
@import './Error.scss' ;
@import './Collapse.scss' ;
@import './Carousel.scss' ;
@import './Card.scss' ;
@import './About.scss' ;
@import './Stars.scss' ;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Montserrat' , 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
